@tailwind base;
@tailwind components;
@tailwind utilities;

.containerr::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
.containerr::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.containerr::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}
